@use '../abstracts/variables.scss' as v;

.text-primary {
  color: #ffffff !important;
}
.text-secondary {
  color: v.$text-secondary !important;
}
.text-active {
  color: v.$active !important;
}
.primary {
  background: v.$primary !important;
}
